<section id="about">
  <div class="container">
    {% assign author_posts = site.posts | where: "author", "keith" %}
    {% if author_posts %}
    <div class="row">
      <div class="col-lg-12 ">
        <h3>My Recent Articles</h3>
      </div>
    </div>
    <div class="row">
      {% for post in author_posts limit:2 %}
        {% include post_card_short.html post=post %}
      {% endfor %}
    </div>
    <div class="row">
      <div class="col-lg-12 ">
        <br/>
        <br/>
        <br/>
      </div>
    </div>
    {% endif %}
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
      {% if page.highlights %}
	    <div class="col-sm-6">
         {% for paragraph in page.about_me %}
           <p >{{paragraph}}</p>
         {% endfor %}
      </div>
	    <div class="col-sm-6">
		    <h3 style="margin-top:0;" class="text-center">Highlights</h3>
		    <ul>
               {% for highlight in page.highlights %}
               <li >{{highlight}}</li>
               {% endfor %}
		    </ul>
	    </div>
      {% else %}
	    <div class="col-sm-12">
         {% for paragraph in page.about_me %}
           <p >{{paragraph}}</p>
         {% endfor %}
      </div>

      {% endif %}
    </div>
    {% if false %}
    <div class="row">
      <div class="col-lg-2">
      </div>
      <div class="col-lg-8">
        <p class="quote">"{{page.quote}}"</p>
        <p class="quote quoteAttribution">- {{page.quote_attribution}}</p>
      </div>
  </div>
  {% endif %}
</section>
